.switch {
    background: #fff;
    border: 1px solid #dfdfdf;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    overflow: visible;
    width: 52px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    /*top: -1px;*/
}
/*adding a wide width for larger switch text*/
.switch.wide {
    width:80px;
}
.switch small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 5px;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
}
.switch.checked {
    background: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
}
.switch.blue.checked {
    background: rgb(73, 144, 226);
    border-color: rgb(73, 144, 226);
}
.switch.red.checked {
    background: rgb(223, 59, 58);
    border-color: rgb(223, 59, 58);
}

.switch.checked small {
    left: 22px;
}
/*wider switch text moves small further to the right*/
.switch.wide.checked small {
    left:52px;
}
/*styles for switch-text*/
.switch .switch-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

.switch .off {
    display:block;
    position: absolute;
    right: 10%;
    top: 25%;
    z-index: 0;
    color:#A9A9A9;
}

.switch .on {
    display:none;
    z-index: 0;
    color:#fff;
    position: absolute;
    top: 25%;
    left: 9%;
}

.switch.checked .off {
    display:none;
}

.switch.checked .on {
    display:block;
}

.switch.disabled {
    opacity: .50;
    cursor: not-allowed;
}

.switch.tick.checked:before {
    content: "\2713";
    color: #ffffff;
    position: relative;
    font-weight: bold;
    left: 7px;
    top: 5px;
}

.switch.switch-sm{
    width: 54px;
    height: 25px;
}
.switch.switch-sm small{
    width: 18px;
    height: 18px;
}
.switch.switch-sm.checked small {
    left: 32px;
    top: 3px;
}
.switch.switch-sm.tick.checked:before {
    left: 11px;
    top: 3px;
}

/*Only for label button*/
.switch.label:before{
    content: "Label";
    color: #999999;
    position: relative;
    right: -8px;
    top: 6px;
    font-size: 13px;
}
.switch.label.checked:before {
    content: "\2713  Label";
    color: #ffffff;
    position: relative;
    font-weight: bold;
    left: -8px;
    top: 6px;
    font-size: 13px;
}
.switch.label{
    width: 85px;
    height: 25px;
}
.switch.label small{
    width: 18px;
    height: 18px;
}
.switch.label.checked small {
    left: 64px;
    top: 3px;
}


/*Only for Machine Learning stages button*/
.switch.ml.checked:before,
.switch.ml:before {
    content: "Models";
    color: #ffffff;
    position: relative;
    font-weight: bold;
    left: 0px;
    top: 5px;
    font-size: 13px;
}
.switch.ml:before{
    content: "Templates";
}
.switch.ml{
    width: 60%;
    height: 25px;
    margin: 0px 20%;
    text-align: center;
    background: #49901a;
}
.switch.ml small{
    width: 18px;
    height: 18px;
}
.switch.ml.checked small {
    left: 85%;
    top: 3px;
}