div[data-angular-treeview] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-family: Tahoma;
  font-size:13px;
  color: #555;
  text-decoration: none;
}

div[data-tree-model] ul {
  margin: 0;
  /*padding: 0px 8px;*/
  list-style: none; 
  border: none;
  /*overflow: hidden;*/
   width: 100%;
}

div[data-tree-model] li {
  position: relative;
  /*padding: 0 0 0 20px;*/
  /*line-height: 20px;*/
  line-height: 50px;
  clear: right;
  border-bottom: solid 1px #3f5063;
}

div[data-tree-model] li li {
    /*padding: 0 0 0 20px;*/
    padding: 0 0 0 5px;
}

div[data-tree-model] li .expanded {
  padding: 5px 10px;
  /*background-image: url("/images/folder.png");*/
  /*background-repeat: no-repeat;*/
    color: #a9cf58;
    line-height: 35px;
}



div[data-tree-model] li .normal {
  padding: 1px 10px;
  /*background-image: url("/images/file.png");*/
  /*background-repeat: no-repeat;*/
}

div[data-tree-model] li i, div[data-tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] .glyphicon-custom {
    font-size: 18px;
    color: #6ccac9;
}

div[data-tree-model] .icon-custom-close,
div[data-tree-model] .icon-custom-plus,
div[data-tree-model] .icon-custom-edit{
    color: #ffffff;
}


div[data-tree-model] li .selected {
  /*background-color: #aaddff;*/
  /*font-weight: bold;*/
  /*padding: 1px 5px;*/
    color: #3cbfe8;
}
div[data-tree-model] li .collapsed {
    padding: 5px 10px;
    /*background-image: url("/images/folder-closed.png");*/
    /*background-repeat: no-repeat;*/
    color: #a9cf58;
    line-height: 35px;
}

.app-label-tree{
    display: inline-block;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
}
li.tree-node a,
li.tree-node span{
    /*color: #656565;*/
    color: #e6e7e9;
}
li.tree-node a:hover,
li.tree-node span:hover{
    text-decoration: none;
    /*color: #23b7e5;*/
}
li.tree-node input[type="text"]{
    margin-left: 37px;
    width: 100px;
    height: 22px;
    line-height: 22px;
    padding: 0px 2px;
    position: relative;
    top: -6px;
}
.app-remove-icon,
.app-edit-icon,
.pipeline-add-icon,
.ok-icon{
    float: right;
    display: inline-block;
    padding: 0px 0 0 10px;
    width: auto;
}

/*.pipeline-add-icon,
.ok-icon{
    margin-right: 23px;
}*/

.stage-label-tree{
    display: inline-block;
    /*width: 126px;*/
    padding: 1px 0px 0px 37px;
}

li.tree-node li > .app-label-tree{
    /*width: 136px;*/
}

.label-pipeline{
    padding: 1px 0px 0px 5px;
}

.label-pipeline .glyphicon-custom{
    padding: 1px 10px 0px 0px;
    color: #3cbfe8;
}

.label-pipeline .glyphicons{
    padding: 19px 10px 0px 0px;
    color: #ffdd00;
}

.label-pipeline.selected a{
    color: #23b7e5;
    font-weight: bold;
}

.label-dashboard{
    padding: 5px 10px;
    color: #3cbfe8;
}
.application-tree{
    padding: 0px 8px;
}

.application-tree .application-tree{
    padding: 0px;
}

.application-tree > li a {
    color: #a9cf58;
    text-transform: uppercase;
    white-space: nowrap;
}
.application-tree > li li.tree-node:nth-child(1) a,
.application-tree > li li.tree-node:nth-child(1) li.tree-node:nth-child(2) a {
    color: #6ccac9;
}
.application-tree > li li.tree-node:nth-child(2) a,
.application-tree > li li.tree-node:nth-child(2) li.tree-node:nth-child(1) a {
    color: #ffdd00;
}
/*
.application-tree .application-tree .application-tree li span{
    width: 80%;
    overflow: hidden;
}*/
