/*----------Import buttons CSS file--------*/
@import "checkbox.css";
@import "buttons.css";
@import "forms.css";



*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  /*background: #fafafa;*/
  background: rgba(92, 74, 199, 0.1);
  font-family: roboto,sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 14px;
}

a{
  color: #4680ff;
}
li{
  list-style-type: none;
}
.container{
  width: 100%;
  max-width: 100%;
  padding: 0px 10px;
}

/*--- Login Form
--------------------------------------*/
.login-block{
  background: #fff;
  padding: 20px;
  border: 0 solid rgba(120,130,140,.13);
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0,0,0,.05);
}
.login-block h4{
  margin-bottom: 35px;
  text-align: center;
}
.login-block label{
  text-transform: uppercase;
}
.login-block .btn{
  width: 100%;
  text-transform: uppercase;
  padding: 15px;
  border: 0;
  margin: 20px 0px 30px 0px;
}
.login-block label.form-check-label{
  text-transform: none;
}
/*------------------*/


/*--- Top Bar Navigation
--------------------------------------*/
.hamburger{
  line-height: 40px;
  /*margin: -0.5rem -0.8rem 0 0;*/
  margin: 0 0.5rem 0 -0.5rem;
  background: #606fc7;
  color: #fff;
  padding: 0.5rem;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}


.navbar-bg{
  background-color: #5c4ac7;
}
.nav-link {
  padding: 0.25rem 1rem;
}
.nav-item.active a{
  border-bottom: solid 2px #fff;
}

.user-menu{
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: -0.5rem -0.8rem;
  background: #606fc7;
  color: #fff;
  padding: 0rem 0.5rem;
}
.user-menu i{
  float: left;
  display: inline-block;
  font-size: 20px;
  margin: 8px 10px 0 0;
  background: #fff;
  color: #5c4ac7;
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
}

.user-menu .dropdown-toggle{
  display: block;
  cursor: pointer;
}
.user-menu .dropdown-toggle::after{
  float: right;
  font-size: 18px;
  margin-top: 22px;
}

.user-menu .dropdown-menu{
  width: 200px;
  font-size: 14px;
  border-radius: 0px;
  margin-left: -0.5rem;
  padding: 0;
}
.user-menu .dropdown-menu a{
  padding: 0rem 1rem;
  line-height: 45px;
}
/*------------------*/



/*--- Main Content Body
--------------------------------------*/
.content-body{
  /*background: #fff;*/
  margin: 0 0px;
  position: relative;
  top: 66px;
  height: calc(100% - 77px);
  /*border-radius: 6px;*/
  /*padding: 25px;*/
}
.content-body h3{
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
/*------------------*/
#mapid { height: 180px; }

/*--- Left Column
--------------------------------------*/
.left-col{
  /*float: left;
  width: 286px;
  background: #fff;
  margin-right: 10px;
  border-radius: 3px;
  padding: 15px;*/

  float: left;
  width: 0px;
  background: #fff;
  margin-right: 0px;
  border-radius: 3px;
  padding: 0px;
}
.left-col-content{
  display: none;
}
/*------------------*/


/*--- Left Column Tabs
--------------------------------------*/
.left-col-tabs li{
  color: #1976d2;
  text-align: center;
  padding: 3px 0;
  border-radius: 3px;
  cursor: pointer;
}
.left-col-tabs li.active{
  background: #1976d2;
  color: #ffffff;
}
.left-col-tabs li i{
  font-size: 16px;
}

.left-col-tabs-content h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #eee;
}
.left-col-tabs-content h5{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px;
}
.left-col-tabs-content .custom-checkbox .cell{
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.left-col-tabs-content .custom-checkbox .cell > span{
  cursor: pointer;
}
.left-col-tabs-content .custom-checkbox .cell > span:hover{
  border-bottom: solid 1px #1976d2;
}
.left-col-tabs-content .custom-checkbox label{
  padding-left: 1.5rem;
  cursor: default;
}
.left-col-tabs-content .cell-content{
  margin-left: 25px;
}
.left-col-tabs-content .cell-content li{
  line-height: 26px;
}
/*------------------*/


/*--- Heat-map
--------------------------------------*/
.heatmap-intensity{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  border-radius: 50%;
}
.heatmap-intensity.low{
  background: #078c52;
}
.heatmap-intensity.moderate{
  background: #0992be;
}
.heatmap-intensity.high{
  background: #ffcc00;
}
.heatmap-intensity.very-high{
  background: #ff9511;
}
.heatmap-intensity.extreme{
  background: #dc0829;
}
/*------------------*/



.legends li{
  margin-bottom: 10px;
}
.legend-icon{
  width: 45px;
  text-align: center;
  display: inline-block;
}
.transmission-line{
  display: inline-block;
  width: 30px;
  height: 3px;
  background: #0033ff;
}


/*--- Right Column
--------------------------------------*/
.right-col{
  position: relative;
  overflow: hidden;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
}


 .arrows{
   position: absolute;
   z-index: 1;
   bottom: 5px;
   left: 0;
   right: 0;
   width: 250px;
   height: 30px;
   background: rgba(255, 255, 255, .75);
   margin: 0 auto;
   text-align: center;
   padding: 3px;
   border-radius: 4px;
 }
.arrows .arrow-left,
.arrows .arrow-right{
  font-size: 18px;
  border: solid 2px #5c4ac7;
  border-radius: 4px;
  padding: 2px 5px;
  color: #5c4ac7;
  cursor: pointer;
}
.arrows .arrow-left:hover,
.arrows .arrow-right:hover{
  background: #5c4ac7;
  color: #ffffff;
}
.arrows .arrow-left{
  float: left;
}
.arrows .arrow-right{
  float: right;
}
.arrows .date{
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
}
/*------------------*/
