/*------------------D3 HierarchicalEdge Graphs CSS-------------------*/
div[id*=hierarchicalEdge_] path.arc {
    cursor: move;
    fill: #fff;
}
div[id*=hierarchicalEdge_] .node {
    font-size: 10px;
}
div[id*=hierarchicalEdge_] .node:hover {
    fill: #1f77b4;
}
div[id*=hierarchicalEdge_] .link {
    fill: none;
    stroke: #1f77b4;
    stroke-opacity: .4;
    pointer-events: none;
}
div[id*=hierarchicalEdge_] .link.source,
div[id*=hierarchicalEdge_] .link.target {
    stroke-opacity: 1;
    stroke-width: 2px;
}
div[id*=hierarchicalEdge_] .node.target {
    fill: #d62728 !important;
}
div[id*=hierarchicalEdge_] .link.source {
    stroke: #d62728;
}
div[id*=hierarchicalEdge_] .node.source {
    fill: #2ca02c;
}
div[id*=hierarchicalEdge_] .link.target {
    stroke: #2ca02c;
}
div[id*=hierarchicalEdge_] .key1{
    fill:#16a085;
}
div[id*=hierarchicalEdge_] .key2{
    fill:#e05d6f;
}

div[id*=hierarchicalEdge_] .canvas-svg-hierarchicalEdge-data{
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fafafa;
    width: 300px;
    word-wrap: break-word;
    padding: 20px;
    max-height:98%;
    overflow:auto;
    z-index: 500;
}
div[id*=hierarchicalEdge_] .canvas-svg-hierarchicalEdge-data:empty{
    padding: 0px;
}
div[id*=hierarchicalEdge_] .canvas-svg-hierarchicalEdge-data p{
    margin-bottom: 3px;
}

/*-------------Values CSS-------------*/
div[id*=hierarchicalEdge_] .canvas-svg-hierarchicalEdge-data{
    position: absolute;
    right: 0px;
    top: 34px;
    background: #fafafa;
    width: 250px;
    word-wrap: break-word;
    padding: 20px;
    max-height:98%;
    overflow:auto;
    z-index: 500;
}
div[id*=hierarchicalEdge_] .canvas-svg-hierarchicalEdge-data:empty{
    padding: 0px;
}
div[id*=hierarchicalEdge_] .canvas-svg-hierarchicalEdge-data p{
    margin-bottom: 3px;
}
/*----------*/

/*---------------------------------*/

/*------------------D3 Hierarchy Graphs CSS-------------------*/
div[id*=hierarchy_] .node {
    cursor: pointer;
}
div[id*=hierarchy_] .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
div[id*=hierarchy_] .node text {
    font: 10px sans-serif;
}
div[id*=hierarchy_] .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
div[id*=hierarchy_] svg circle:hover{
    transition: stroke-width 250ms linear 0s;
    stroke-opacity: 0.5;
    stroke-width: 22px;
}
/*---------------------------------*/