.parcoordGraph canvas.highlight {
    font: 14px sans-serif;
    position: absolute;
}
.parcoordGraph .parcoords > svg,
.parcoordGraph .parcoords > canvas {
    font: 14px sans-serif;
    position: absolute;
}
.parcoordGraph .parcoords > canvas {
    pointer-events: none;
}

.parcoordGraph .parcoords text.label {
    cursor: default;
}

.parcoordGraph .parcoords rect.background {
    fill: transparent;
}
.parcoordGraph .parcoords rect.background:hover {
    fill: rgba(120,120,120,0.2);
}
.parcoordGraph .parcoords .resize rect {
    fill: rgba(0,0,0,0.1);
}
.parcoordGraph .parcoords rect.extent {
    fill: rgba(255,255,255,0.25);
    stroke: rgba(0,0,0,0.6);
}
.parcoordGraph .parcoords .axis line,
.parcoordGraph .parcoords .axis path {
    fill: none;
    stroke: #222;
    shape-rendering: crispEdges;
}
.parcoordGraph canvas.highlight {
    opacity: 1;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}
.parcoordGraph .parcoords canvas.faded {
    opacity: 0.25;
}
.parcoordGraph .parcoords {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.parcoordGraph a:link,
.parcoordGraph a:visited {
    color: #777;
    text-decoration: none;
}

.parcoordGraph a:hover {
    color: #666;
}

.parcoordGraph blockquote {
    margin: 0;
}

.parcoordGraph blockquote:before {
    content: "â€œ";
    position: absolute;
    left: -.4em;
}

.parcoordGraph blockquote:after {
    content: "â€";
    position: absolute;
}

.parcoordGraph body > ul {
    margin: 0;
    padding: 0;
}

.parcoordGraph h1 {
    font-size: 64px;
}

.parcoordGraph h1,
.parcoordGraph h2,
.parcoordGraph h3 {
    font-weight: inherit;
    margin: 0;
}

.parcoordGraph h2,
.parcoordGraph h3 {
    text-align: right;
    font-size: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
}

.parcoordGraph h2 {
    font-size: 24px;
    position: absolute;
}

.parcoordGraph h3 {
    bottom: -20px;
    font-size: 18px;
}

.parcoordGraph .invert {
    background: #1f1f1f;
    color: #dcdccc;
}

.parcoordGraph .invert h2,
.parcoordGraph .invert h3 {
    color: #7f9f7f;
}

.parcoordGraph .string,
.parcoordGraph .regexp {
    color: #f39;
}

.parcoordGraph .keyword {
    color: #00c;
}

.parcoordGraph .comment {
    color: #777;
    font-style: oblique;
}

.parcoordGraph .number {
    color: #369;
}

.parcoordGraph .class,
.parcoordGraph .special {
    color: #1181B8;
}

.parcoordGraph body > svg {
    position: absolute;
    top: -80px;
    left: -160px;
}
