/*Style Sheet by Farhan*/

.myContainer{margin: auto -15px;}
.textUpper{text-transform: uppercase;}
.textLower{text-transform: lowercase;}
.fullWidth{width: 100%;}
.bold{font-weight: bold;}
.displayInline{display: inline;}

.font-8{font-size: 6px;}
.font-9{font-size: 7px;}
.font-8{font-size: 8px;}
.font-9{font-size: 9px;}
.font-10{font-size: 10px;}
.font-11{font-size: 11px;}
.font-12{font-size: 12px;}
.font-13{font-size: 13px;}
.font-14{font-size: 14px;}
.font-15{font-size: 15px;}
.font-16{font-size: 16px;}
.font-17{font-size: 17px;}
.font-18{font-size: 18px;}
.font-19{font-size: 19px;}
.font-20{font-size: 20px;}
.font-21{font-size: 21px;}
.font-22{font-size: 22px;}
.font-23{font-size: 23px;}
.font-24{font-size: 24px;}
.font-25{font-size: 25px;}
.font-26{font-size: 26px;}
.font-27{font-size: 27px;}
.font-28{font-size: 28px;}
.font-29{font-size: 29px;}
.font-30{font-size: 30px;}
.font-31{font-size: 31px;}
.font-32{font-size: 32px;}
.font-33{font-size: 33px;}
.font-34{font-size: 34px;}
.font-35{font-size: 35px;}
.font-36{font-size: 36px;}
.font-37{font-size: 37px;}
.font-38{font-size: 38px;}
.font-39{font-size: 39px;}
.font-40{font-size: 40px;}
.font-41{font-size: 41px;}
.font-42{font-size: 42px;}
.font-43{font-size: 43px;}
.font-44{font-size: 44px;}
.font-45{font-size: 45px;}
.font-46{font-size: 46px;}
.font-47{font-size: 47px;}
.font-48{font-size: 48px;}
.font-49{font-size: 49px;}
.font-50{font-size: 50px;}
.font-51{font-size: 51px;}
.font-52{font-size: 52px;}
.font-53{font-size: 53px;}
.font-54{font-size: 54px;}
.font-55{font-size: 55px;}
.font-56{font-size: 56px;}
.font-57{font-size: 57px;}
.font-58{font-size: 58px;}
.font-59{font-size: 59px;}
.font-60{font-size: 60px;}

/*Styles for Model Dashboard HomePage*/
.leftMD{width:83%; height: 100%; color: #FFF;}
.rightMD{height: 100%; width: 17%; color: #FFF; text-align: center;}
.topMD{background-color: #1ABC9C; padding: 1em; font-weight: bold;}
.topLeftMD{width: 5%;}
.topRightMD{width: 95%;}
.HeadingMD{padding-top: 7px;}
.searchMD{width: 300px; border: 1px solid #FFF; padding: 10px 10px 10px 16px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; font-weight: normal;}
.searchInputMD{background-color: transparent; border: none; width: 244px;}
.searchSubmitMD{font-size: 23px; background: none; border: none;}
.leftMainMD{background-color: #4A90E2; padding: 1em; font-weight: bold; overflow-y: auto; height: calc(100% - 96px);}
.contentMD{margin: 20px 40px !important; font-weight: normal;}
.tileMD{padding: 3px 0; display: table-row; color: #FFF;}
.tileMD:hover{font-weight: bold; text-decoration: none; color: #FFF;}
.statsMD{background-color: #233140; padding: 1em; vertical-align: middle;}
.statsMD i{vertical-align: middle;}
.modelStatsMD{background-color: #2C3E50; padding: 10px 5px; height: calc(100% - 86px); overflow-y: auto;}
.totalModelsMD{background-color: #4A90E2; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 7px 15px; box-shadow: 0 0 5px 0 #0b1527; -moz-box-shadow: 0 0 5px 0 #0b1527; -webkit-box-shadow: 0 0 5px 0 #0b1527;}
.totalModelsMD:hover{background-color: #66acfe;}
.chartMD{width: 80px; height: 80px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background-color: #006666; margin: 20px auto 10px;}
.typesMD{text-align: left;}
.rectMD{width: 18px; height: 18px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 6px 10px; display: inline-block;}
.typesMD .rect1{background-color: #E02837;}
.typesMD .rect2{background-color: #51D488;}
.typesMD .rect3{background-color: #FA902C;}
.typesMD .rect4{background-color: #FDD65A;}
.detailsMD{text-align: left; margin: 15px 10px;}
.categoriesMD{background-color: #FFF; -webkit-border-radius: 25px 5px 5px 25px; -moz-border-radius: 25px 5px 5px 25px; border-radius: 25px 5px 5px 25px; margin: 10px 0; line-height: 38px;}
.categoriesMD:hover{background-color: #e5e5e5;}
.detailsMD .categoriesMD .num{color: #FFF; margin-right: 10px; margin-left: -1px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; padding: 1px; width: 40px; display: inline-block; text-align: center;}
.detailsMD .categoriesMD .text{font-weight: bold;}
.detailsMD .categoriesMD .icon{margin-right: 3px; padding-top: 3px;}
.detailsMD .cat1{color: #59A3E8;}
.detailsMD .cat1 .num{background-color: #59A3E8;}
.detailsMD .cat2{color: #E74C3C;}
.detailsMD .cat2 .num{background-color: #E74C3C;}
.detailsMD .cat3{color: #2ECC71;}
.detailsMD .cat3 .num{background-color: #2ECC71;}
.detailsMD .cat4{color: #F1C40F;}
.detailsMD .cat4 .num{background-color: #F1C40F;}
.detailsMD .cat5{color: #9B59B6;}
.detailsMD .cat5 .num{background-color: #9B59B6;}
.detailsMD .cat6{color: #1ABC9C;}
.detailsMD .cat6 .num{background-color: #1ABC9C;}
.detailsMD .cat7{color: #e94e77;}
.detailsMD .cat7 .num{background-color: #fc913a;}
.detailsMD .cat8{color: #A593E0;}
.detailsMD .cat8 .num{background-color: #fc913a;}

/*Styles for Model Dashboard ModelPage - Online Prediction*/
.leftModelMD{background-color: #D8D8D8; padding: 2em 0 2em 1em; height: calc(100% - 96px); color: #4A90E2;}
.leftModelMD .active{background-color: #4A90E2; border: none; color: #FFF;}
.modelPropsMD{background-color: #FFF; border: 1px solid #4A90E2; padding: 20px; margin-right: 10px; box-shadow: 0 0 2px 0 #9a9ab2; -moz-box-shadow: 0 0 2px 0 #9a9ab2; -webkit-box-shadow: 0 0 2px 0 #9a9ab2;}
.modelPropsMD i{vertical-align: middle;}
.modelPropsMD:hover{background-color: #4A90E2; border: none; color: #FFF; cursor: pointer;}
.modelPropsMD:active{background-color: #4A90E2; border: none; color: #FFF;}
.modelPropsMD:focus{background-color: #4A90E2; border: none; color: #FFF;}
.specHeadingMD{background-color: #4A90E2; color: #FFF; margin-top: 25px; padding: 5px 20px;}
.btnMetricsTypeMD{background-color: #1abc9c; border: none; color: #fff; margin-top: -5.5px; padding: 9.5px 20px; -webkit-box-shadow: 0 0 2px 0 ; -moz-box-shadow: 0 0 2px 0 ; box-shadow: 0 0 2px 0 ;}
.btnMetricsTypeMD:hover {background-color: #006666; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.btnActive{background-color: #2ecc71; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.specsMD{padding: 2em; color: #5C5C5C; background-color: #FFF; height: calc(100% - 73px); overflow-y: auto;}
.dataMD{padding: 5px 10px; color: #4A90E2; background-color: #FFF; border: 1px solid #4A90E2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-right: 5px;}
.dataMD:hover{color: #FFF; background-color: #4A90E2; border: none; cursor: pointer;}
.dataMD:active{color: #FFF; background-color: #4A90E2; border: none;}
.dataMD:focus{color: #FFF; background-color: #4A90E2; border: none;}
.specsMD input[type=radio]:not(old){width: 2em; margin: 0; padding: 0; font-size: 1em; opacity: 0;}
.specsMD input[type=radio]:not(old) + label{display: inline-block; margin-left: 1em; line-height: 1.5em;}
.specsMD input[type=radio]:not(old) + label > span{ display: inline-block; width: 1.3em; height: 1.3em; margin: 0.25em 0.5em 0.25em 0.25em; border: 0.0625em solid rgb(192,192,192); border-radius: 50%; background: #FFF; vertical-align: bottom;}
.specsMD input[type=radio]:not(old):checked + label > span > span{display: block; width: 1.3em; height: 1.3em; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background: #4A90E2;}
.specsMD input[type=radio]:not(old):checked + label > span{border: none}
.spanMD{width: 15%;}
.modelApiMD{border: 1px solid #4A90E2; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 3px 7px; width: 85%;/* -webkit-appearance: none; -moz-appearance: none; appearance: none;*/}
.modelJsonMD{border: 1px solid #4A90E2; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 3px 7px; width: 85%; max-width: 85%; min-width: 85%;}
.btnPredictMD{background-color: #4A90E2; color: #FFF; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 10px 20px; border: none; margin: 30px 0;}
.btnPredictMD i{vertical-align: middle;}
.schemaMD{text-align: center;}
.shadowMD{max-height: 340px; margin-bottom: 20px; overflow-y: auto; box-shadow: 0 0 2px 0 #9a9ab2; -moz-box-shadow: 0 0 2px 0 #9a9ab2; -webkit-box-shadow: 0 0 2px 0 #9a9ab2;}
.leftSchemaMD{width: 50%; background-color: #4A90E2; color: #FFF;}
.rightSchemaMD{width: 50%; background-color: #FFF;}
.leftEntriesMD{border-bottom: 1px solid #ecf0f1; padding: 7px 10px; margin-left: 15px; margin-right: 15px;}
.rightEntriesMD{border-bottom: 1px solid #ecf0f1; padding: 7px 10px; margin-left: 15px; margin-right: 15px;}
.firstHeadMD{padding: 15px 10px;}
.lastMD{border-bottom: none; padding: 0 10px;}
.LschemaHoverMD:hover{background-color: #66acfe;}
.RschemaHoverMD:hover{background-color: #e5e5e5;}
.btnUploadMD{color: #4A90E2; background-color: #FFF; border: 1px solid #4A90E2; padding: 7px 15px;}
.btnUploadMD:hover{color: #FFF; background-color: #4A90E2; border: none; cursor: pointer;}
.btnUploadMD:focus{color: #FFF; background-color: #4A90E2; border: none;}
.btnUploadMD:active{color: #FFF; background-color: #4A90E2; border: none;}
.uploadBoxMD{padding: 10px 20px; border: 1px solid #4A90E2; background-color: #FFF; text-align: center; margin-top: 6px;}
.btnUploadFileMD{background-color: #4A90E2; padding: 5px 10px; color: #FFF; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.btnUploadFileMD:hover{background-color: #FFF; color: #4A90E2; border: 1px solid #4A90E2;}
.btnDownloadMD{padding: 7px 20px; margin: 2px; background-color: #4A90E2; font-size: 13px; border-radius: 3px; display: inline-block; cursor: pointer;}
.formatterTextMD{width: 35%; text-align: right; padding: 5px; margin-right: 5%;}
.formatterMD{width: 60%; text-align: left;}
.leftUploadMD{width: 40%; line-height: 25px; text-align: right; padding-right: 15px;}
.rightUploadMD{width: 60%; text-align: left; padding-left: 15px;}
.leftPathMD{width: 30%; line-height: 25px; text-align: left; padding-right: 15px;}
.rightPathMD{width: 70%; padding-right: 15px;}
.formatMD{border: 1px solid #4A90E2; padding: 5px 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; min-width: 150px;}

/*Styles for Model Dashboard ModelPage - Original and Transformed*/
.selectedFeaturesMD{box-shadow: 0 0 2px 0 #9a9ab2; -moz-box-shadow: 0 0 2px 0 #9a9ab2; -webkit-box-shadow: 0 0 2px 0 #9a9ab2; text-align: center; margin-bottom: 20px;}
.OTleftMD{width: 50%; padding: 1em 2em; background-color: #FFF;}
.OTrightMD{width: 50%; padding: 1em 2em; background-color: #4A90E2;}
.tbShadowMD{-moz-box-shadow: 0 0 2px 0 #9a9ab2; -webkit-box-shadow: 0 0 2px 0 #9a9ab2; box-shadow: 0 0 2px 0 #9a9ab2;}
.OTentriesLeftMD{background-color: #D8D8D8; padding: 0.5em; margin: 1em 0;}
.OTentriesLeftMD:hover{background-color: #eaeaea;}
.OTentriesRightMD{background-color: #D8D8D8; padding: 0.5em; margin: 1em 0;}
.OTentriesRightMD:hover{background-color: #FFF;}
.tbOverflowMD{overflow: auto;}
.tbHeadMD{background-color: #4A90E2;}
.tbHeadMD th{padding: 2em !important; color: #FFF; font-weight: bold; border-bottom: none !important;}
/*.tbHeadMD th:first-of-type{background-color: #FFF; color: inherit;}*/
.tbBodyMD th{background-color: #4A90E2; padding: 2em !important; color: #FFF; font-weight: bold;}
.tbBodyMD td{padding: 2em !important;background-color: #FFF !important;}
.tbRightMD .tbHeadMD{background-color: #FFF;}
.tbRightMD .tbHeadMD th{padding: 2em !important; color: #4A90E2; font-weight: bold; border-bottom: none !important;}
/*.tbRightMD .tbHeadMD th:first-of-type{background-color: #4A90E2; color: inherit;}*/
.tbRightMD .tbBodyMD th{background-color: #FFF; padding: 2em !important; color: #4A90E2; font-weight: bold;}
.tbRightMD .tbBodyMD td{padding: 2em !important; background-color: #4A90E2 !important; color: #FFF;}

/*Styles for Model Dashboard ModelPage - Metrics*/
.tbMetricsMD .tbHeadMD th:first-of-type{background-color: #FFF; color: inherit;}
.tbLabelMD{background-color: #4a90e2; color: #FFF;}
.tbLabelMD th{padding: 2em !important; font-weight: bold; border-bottom: none !important;}
.tbLabelMD th:first-of-type{background-color: #FFF; color: #4A90E2; padding: 1em !important;}
.tbStatsMD .table tr td, .tbStatsMD .table tr th{border: none !important;}
.tbStatsMD .table .tbLabelMD tr th{border-top: 1px solid #4A90E2 !important; border-bottom: 1px solid #4A90E2 !important;}
.tbLabelMD tr th:last-of-type{border-right: 1px solid #4A90E2 !important;}
.percentMD{padding: 3px 10px; color: #FFF; border-radius: 12px;}
.tbStatsMD .table .thUndo th:first-of-type{border-top: 1px solid #FFF !important; border-bottom: 1px solid #FFF !important; color: #5C5C5C;}
.tbStatsMD .table .tHeadUndo th:first-of-type{border-top: 1px solid #4A90E2 !important; border-bottom: none !important; color: #FFF; padding: 2em !important; background-color: #4A90E2;}

/*Styles for Cluster Management*/
.form-control-custom {display: inline; width: calc(100% - 65px); max-width: calc(100% - 65px); height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.labelCM{margin-top: 5px;}
.labelMarginCM{margin-left: 14px;}
.textAreaHeightCM{height: 100px;}
.btnBlueCM span:nth-of-type(2){margin-top: 5px;}

.red{
    margin: 10px;
    height:20px;
    background-color:red;
}

/*styles for loader*/

.disableRow { background:#ddd;color:#aaa;cursor:not-allowed }
.glyphicon-refresh-animate{ -animation:spin .7s infinite linear;-webkit-animation:spin2 .7s infinite linear}
@-webkit-keyframes spin2{ from {-webkit-transform:rotate(0deg);} to {-webkit-transform:rotate(360deg);}}
@keyframes spin { from{transform:scale(1) rotate(0deg);} to{transform:scale(1) rotate(360deg);}}

/*Styles for Stage Stage View*/
.progressCenterSV{position: absolute; top: 0; right: 0; color: #333; left: 0;}
.pBarNoColorSV{background-color: #f5f5f5;}