<div class="content-body">

    <div class="left-col h-100">

        <!--<div id="panel">
            <button ng-click="toggleHeatmap()">Toggle Heatmap</button>
            <button ng-click="changeGradient()">Change gradient</button>
            <button ng-click="changeRadius()">Change radius</button>
            <button ng-click="changeOpacity()">Change opacity</button>
        </div>-->

        <div class="custom-checkbox">
            <div class="cell">
                <label for="toggleHeatmap">
                    <input type="checkbox" name="toggleHeatmap" value="toggleHeatmap" id="toggleHeatmap" ng-click="toggleHeatmap()">
                    <span class="square"></span>
                    Toggle Heatmap
                </label>
            </div>
            <div class="cell">
                <label for="changeGradient">
                    <input type="checkbox" name="changeGradient" value="changeGradient" id="changeGradient" ng-click="changeGradient()">
                    <span class="square"></span>
                    Change gradient
                </label>
            </div>
            <div class="cell">
                <label for="changeRadius">
                    <input type="checkbox" name="changeRadius" value="changeRadius" id="changeRadius" ng-click="changeRadius()">
                    <span class="square"></span>
                    Change radius
                </label>
            </div>
            <div class="cell">
                <label for="changeOpacity">
                    <input type="checkbox" name="changeOpacity" value="changeOpacity" id="changeOpacity" ng-click="changeOpacity()">
                    <span class="square"></span>
                    Change opacity
                </label>
            </div>
        </div>

    </div>

    <div class="right-col h-100">
        <ng-map id="map" zoom="10" center="36.498435,-119.647315" map-type-id="">
            <heatmap-layer id="foo" data="taxiData"></heatmap-layer>
        </ng-map>
    </div>

</div>